.titulo-temperatura {
    font-size: 2.5vh !important;
    color: white;
}

.cadastro-temperatura-max {
    font-family: 'Poppins';
    font-size: 2.1vh;
    color: white;
    width: 18%;
    padding: 2.4%;
    background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
    border-radius: 10px;
    border: none;
    margin-top: 5%;
}

.cadastro-temperatura-min {
    font-family: 'Poppins';
    font-size: 2.1vh;
    color: white;
    width: 20%;
    padding: 3%;
    background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
    border-radius: 10px;
    border: none;
    margin-top: 5%;
}

.cadastro-temperatura-max::-webkit-inner-spin-button,
.cadastro-temperatura-min::-webkit-inner-spin-button {
    display: none;
}