.titulo-temperatura {
    font-size: 2.5vh !important;
    color: white;
}

.cadastro-temperatura {
    font-family: 'Poppins';
    font-size: 2vh;
    color: white;
    width: 20%;
    padding: 3%;
    background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
    border-radius: 10px;
    border: none;
    margin-top: 5%;
}

.cadastro-temperatura::-webkit-inner-spin-button {
    display: none;
}