.field-title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.7vh !important;
    color: white;
}

.cidade-input,
.data-input {
    color: white;
    font-family: 'Poppins';
    font-size: 2.5vh;
    font-weight: 300;
    padding: 2%;
    margin-top: 1%;
    background: linear-gradient(180deg, rgba(149, 125, 205, 0.75) 0%, #523D7F 100%);
    border-radius: 15px;
    border: none;
}