.box-data {
    width: 95%;
    background: linear-gradient(180deg, rgba(149, 125, 205, 0.29) 0%, #523D7F 100%);
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.dados-conteudo {
    margin-left: 3% !important;
    padding-top: 3%;
    padding-bottom: 5%;
}